@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');


:root {
    --color-principal: #418b9e;
    --fonte-principal: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--color-principal);
    font-family: var(--fonte-principal);
    font-size: 1.1em;
    line-height: 1.5em;
    height: 70vh;
}

.container {
    max-width: 640px;
    margin: 5% auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}

form input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--color-principal);    
}

button {
    border: none;
    background-color: var(--color-principal);
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: rgb(7, 105, 105);
}