@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");

:root {
  --color-principal: #3f3f46;
  --fonte-principal: "Open Sans", sans-serif;
  --font-secundaria: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  outline: 0;
}

h1 {
  font-size: 40px;
  color: rgb(255, 255, 255);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(pxfuel.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--font-secundaria);
  font-weight: 300;
  font-size: 1em;
  line-height: 1.5em;
}

.container {
  max-width: 760px;
  line-height: 40px;
  margin: 5% auto;
  padding: 20px;
  background-color: #4878e0d2;
  border-radius: 10px;
}

form input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--color-principal);
}

button {
  border: none;
  background-color: var(--color-principal);
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: rgb(7, 105, 105);
}

table {
  border-collapse: collapse;
  padding-top: 30px;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  color: white;
}

table tr:not(:last-child) {
  border-bottom: 1px solid #cccccc3b;
}

table td {
  padding: 8px;
}
